@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,600&family=Roboto:wght@300;400&display=swap');

/* VARIABLES */
:root {
    --dark: #000000;
    --light: #ffffff;
    --gray: #484873;
    --graySecond: #e6e6e6;
    --spaceBlock: 20px;
}

/* RESET */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* STYLES GENERALS */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}
#container {
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--dark);
}
svg {
    width: 24px;
    height: 24px;
}

/* HEADER */
header {
    padding: var(--spaceBlock);
}
.header__nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.header__nav__logo {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
}
.header__nav__logo + div {
    display: flex;
    justify-content: space-between;
}
.header__nav-active .header__nav__logo + div {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--graySecond);
    width: 75%;
    height: 100vh;
    padding: var(--spaceBlock);
    transition: background-color .6s;
}
.header__nav__links {
    display: none;
}
.header__nav-active .header__nav__links {
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    margin: 100px 0 0 75px;
    transition: display .6s .2s;
}
.header__nav__btns {
    display: flex;
    column-gap: var(--spaceBlock);
}
.btn__theme-dark {
    display: none;
}
.btn__menu-close {
    display: none;
}
.header__nav-active .btn__menu-close {
    display: block;
}
.header__nav-active .btn__menu-open {
    display: none;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-block: 50px;
}
.header__content h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--gray);
}
.header__content h4 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.2em;
}
.title__btns {
    font-family: 'Lora', serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spaceBlock);
    margin-block: var(--spaceBlock);
}
.title__btns > a {
    text-align: center;
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--gray);
    transition: background-color .6s;
}
.btn-downloadCV {
    color: var(--light);
    background-color: var(--gray);
}
.btn-downloadCV:hover {
   opacity: 0.9;
}
.btn-voirCV:hover {
    background-color: #5252661c;
}
.header__content__img {
    margin-bottom: var(--spaceBlock);
    order: -1;
}
.header__content__img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .header__content {
        flex-direction: row;
        justify-content: space-between;
        column-gap: var(--spaceBlock);
        padding-inline: var(--spaceBlock);
    }
    .header__nav__links {
        display: flex;
        column-gap: 2.2rem;
        margin-inline: 50px;
    }
    .btn-menu {
        display: none;
    }
    .header__content__title {
        flex-basis: 25rem;
        flex-grow: 3;
        max-width: 35rem;
    }
    .title__btns {
        flex-direction: row;
        column-gap: var(--spaceBlock);
    }
    .title__btns a {
        padding-inline: 7px;
        border-radius: 5px;
    }
    .btn-voirCV {
        display: inline-block;
        padding-inline: 10px;
    }
    .header__content__img {
        width: 50%;
        order: 0;
    }
    .header__content__img img {
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }
}
@media screen and (min-width: 817px) {
    .header__nav__links {
        column-gap: 3.2rem;
    }
    .header__content h1 {
        font-size: 38px;
    }
    .header__content h4 {
        font-size: 1.1rem;
        margin-top: 0.8rem;
    }
    .title__btns {
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1092px) {
    #container {
        max-width: 85rem;
    }
    .header__nav__links {
        column-gap: 6rem;
    }
    .header__content {
        line-height: 2rem;
    }
    .header__content h1 {
        font-size: 52px;
    }
    .header__content h4 {
        font-size: 1.2rem;
        margin-top: 0.8rem;
    }
    .title__btns {
        flex-direction: row;
        column-gap: var(--spaceBlock);
        margin-top: 2rem;

    }
}