/* VARIABLES */
h2 {
    margin-block: var(--spaceBlock);
}

/* HEADER */
.header__bannere {
    position: relative;
}
.header__bannere svg {
    width: 100%;
    height: 100%;
}
.header__bannere h1 {
    font-size: 24px;
    color: var(--light);
    letter-spacing: 0.5rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -50px); 
}


/* MAIN */
.main {
    max-width: var(--content);
}
.section__content {
    font-size: 20px;
    line-height: 1.7;
    text-align: justify;
}
.dev__web__carousel img {
    display: none;
}
.dev__web__carousel {
    margin-block: var(--spaceBlock) var(--spaceTwo);
}
.dev__web__carousel .img-mobile {
    display: block;
    width: 100%;
}
.skills {
    margin-block: var(--spaceBlock);
}
.skills h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.skills div {
    margin: 10px  0 0 var(--spaceTwo) ;
}
progress {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
}
progress[value]::-webkit-progress-value {
    background-color: var(--yellow);
    border-radius: 12px;
}
::-webkit-progress-bar {
    background-color: var(--gray);
    border-radius: 12px;
}
#gestion__fin {
    margin-top: var(--spaceTwo);
}
.experiences {
    margin: var(--spaceBlock) var(--spaceTwo);
}

/* RESPONSIVE */
@media screen and (min-width: 700px) {
    .header__bannere h1 {
        font-size: 32px;        
    }
    .section__content {
        margin: var(--spaceTwo) auto;
    }
    #dev__web img {
        display: block;
        width: 100%;
    }
    .dev__web__carousel {
       width: 60%;
       margin: var(--spaceBlock) auto;
       overflow-x: hidden;
       position: relative;
    }
    .carousel {
        display: flex;
        animation: 9s linear infinite displayImage;
    }
    @keyframes displayImage {
        0%,
        29% {
            transform: translateX(0%);
        }
        33%,
        62% {
            transform: translateX(-100%);
        }
        66%,
        95% {
            transform: translateX(-200%);
        }
        100%
        {
            transform: translateX(-300%);
        }
    }
    .skills progress {
        width: 40%;
    }
}
@media screen and (min-width: 1024px) {
    .dev__web__carousel {
        width: 50%;
     }
}